<!DOCTYPE html>
<html>
 
<head>
    <title>Main Page</title>
</head>
 
<body>
    <h2>Bienvenido a Nequi {{user}}</h2>
    <h3>Tu saldo en la cuenta es {{accBalance}}</h3>
    <h3>Tu saldo en el colchon es {{matBalance}}</h3>
    <h2>Que quieres hacer?</h2>
    <a href="/deposit"><button type="button">Depositar Dinero</button></a>
    <a href="/withdraw"><button type="button">Retirar Dinero</button></a>
    <br>
    <a href="/logout"><button type="button">Logout</button></a>
 
</body>
 
</html>